body {
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #202123;
    color: white;
  }
  
  h1 {
    margin-top: 50px;
    font-size: 2em;
  }
  
  button {
    padding: 15px 30px;
    background-color: #26a69a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 50px;
  }

  .footer {
    align-items: center; 
    margin: 100px 0 0 0;
  }

  .keys-div {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

  #keys-table {
    display: none;
    padding: 10px;
    margin: 100px 0 0 0;
    border-style: dotted;
    border-width: 5px;
    }

  #keys-table td {
    text-align: left;
    vertical-align: center;
    padding: 0 20px 0 20px;
  }

  #copy-private-key-button, #copy-public-key-button {
    margin: 0 0 0 50px;
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  a:hover {
    color: #ddd;
  }
  
a {
  color: #26a69a;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #1e8877;
}

button img {
  filter: invert(100%);
}